{% extends 'base.html' %}

{% block page_title %}My Trips{% endblock %}

{% block content %}

<h1>My Trips</h1>
{% if trip_list %}
    <ul class="list-group">
    {% for trip in trip_list %}
        <a href="{% url 'trips:edit_trip' trip.id %}" class="list-group-item">
            <div class="row">
                <div class="col">
                    Room# {{ trip.room_id }}
                </div>
                <div class="col">
                    {{ trip.check_in }} - {{ trip.check_out }}
                </div>
                <div class="col-auto ml-auto">
                    {% if trip.available %} <span class="badge bg-success">Available</span> {% else %} <span class="badge bg-danger">Unavailable</span> {% endif %}
                </div>
            </div>
        </a>
    {% endfor %}
    </ul>
{% else %}
    <p>No saved trips.</p>
{% endif %}

<div class="d-flex mt-4">
    <a href="{% url 'trips:new_trip' %}" class="btn btn-primary me-1">Add a trip</a>
    <form method="post" action="{% url 'trips:check_trips' %}">
        {% csrf_token %}
        <input type="submit" value="Check trips now" class="btn btn-success">
    </form>
</div>

{% endblock %}
