{% extends 'base.html' %}

{% block page_title %}My Trips{% endblock %}

{% block content %}

<h1>My Trips</h1>
{% if trip_list %}
    <ul class="list-group">
    {% for trip in trip_list %}
        <a href="{% url 'trips:edit_trip' trip.id %}" class="list-group-item">
            <col class="col">
            {{ trip.room_id }}
            </col>
            <col class="col">
            {{ trip.check_in }} - {{ trip.check_out }}
            </col>
        </a>
    {% endfor %}
    </ul>
{% else %}
    <p>No saved trips.</p>
{% endif %}

<a href="{% url 'trips:new_trip' %}" class="btn btn-primary">Add a trip</a>

{% endblock %}
