<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <title>
      {% block page_title %}Airbnb Availability Checker{% endblock %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_head %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_style %}{% endblock %}
  </head>
  <body>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
      <p>&copy; 2025 Lambo</p>
    </footer>
  </body>
</html>
